body {
    margin: 0;
    padding: 0;
    // background-color: #333030;
    // color: #ffffff;
    // font-family: YakuHanJP, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", YuGothic, "游ゴシック体", "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic", "游ゴシック", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
    font-family: '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック体', YuGothic, 'Hiragino Sans','ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
}
a {
    text-decoration: none;
    color: #333;
    &:hover {
        // background-color:rgba(0,0,0,0.5);
        opacity: 0.5;
    }
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
img {
    width: 100%;
    height: auto;
}
h4 {
    margin: 0;
    padding: 0;
}
.wrap {
    // max-width: 1000px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    main {
        // width: 60%;
        padding: 0 20px;
    }
}
.sect_title {
    text-align: center;
}