aside {
    width: 35%;
    padding: 20px;
    // background-color: #eee;
    strong {
        display: block;
        margin-bottom: 10px;
    }
    ul {
        li {
            margin-left: 12px;
            img {
                width: 150px;
            };
        }
    }
}