.my-account {
    @include basic();
    padding: 24px 5%;
    .woocommerce {
        display: flex;
    }
}
nav.woocommerce-MyAccount-navigation {
    white-space: nowrap;
    margin-right: 30px;
    li {
        border-bottom: darkgray solid 1px;
        padding: 28px;
        font-size: 20px;
    }
    li.is-active {
        background-color: #f5f5f5;
    }
}
a.woocommerce-MyAccount-navigation-link {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}
div.woocommerce-MyAccount-content {
    width: 100%;
    padding: 0 68px;
}
// .woocommerce-Address {
//     width: 100%;
// }
table.woocommerce-MyAccount-orders {
    width: 100%;
    table-layout: fixed;
    th {
        text-align: left;
        padding: 12px;
    }
    td {
        padding: 12px;
    }
}