.footer {
  background-color: #222;
  padding: 34px 8%;

  &-body {
    display: flex;
    justify-content: space-between;
    @include md() {
      flex-direction: column;
      justify-content: center;
    }
    &-left {
      display: flex;
      font-weight: bold;
      @include md {
        margin-bottom: 40px;
        justify-content: center;
      }
      .footerLogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-image {
          width: 50px;
        }
        &-text {
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          color: $white;
          font-size: 24px;
          margin-top: 4px;
        }
      }
      .catchphrase {
        color: $white;
        padding-top: 21px;
        padding-left: 24px;
        &-body {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 16px;
        }
        &-foot {
          font-size: 16px;
        }
      }
    }

    &-right {
      color: $white;
      display: flex;
      white-space: nowrap;
      @include md {
        margin-bottom: 40px;
        justify-content: center;
      }
      @include ms {
        flex-direction: column;
      }

      .footerNav {
        text-align: left;
        // &:first-child {
          margin-right: 60px;
          @include ms {
            margin-bottom: 40px;
          }
        // }
        &-head {
          font-size: 20px;
          margin-bottom: 28px;
          font-weight: bold;
          -webkit-text-stroke-color: $white;
        }
        &-body {
          position: relative;
          .footerSeparation {
            position: absolute;
            width: 3px;
            height: calc(120%);
            left: -16px;
            top: -4px;
            @include ms {
              display: none;
            }
          }
          li {
            margin-bottom: 16px;
            a {
              font-size: 16px;
              color: $grey-b;
              font-weight: bold;
              @include ms {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  &-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    // .share {
    //   img {
    //     width: 100px;
    //     margin-top: 40px;
    //   }
    //   // display: flex;
    //   // align-items: flex-end;
    //   // margin-bottom: 10px;
    //   // li {
    //   //   margin-left: 10px;
    //   //   &:first-child {
    //   //     margin-left: none;
    //   //   }
    //   //   img {
    //   //     display: block;
    //   //     margin-left: 10px;
    //   //   }
    //   // }
    // }
    .copyright {
      color: $white;
      font-size: 10px;
    }
  }
  .share-link {
    display: flex;
    align-items: center;
    img {
      width: 20px;
    }
    .share-label {
      margin-left: 10px;
    }
  }
}
