header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  height: 80px;
  border-bottom: solid 1px $grey_e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $white;
  width: 100%;
  box-sizing: border-box;
  .separation {
    width: 3px;
    height: 50px;
    padding-top: 10px;
  }
}

.header-head {
  display: flex;
  align-items: center;
  cursor: pointer;
  &-logo {
    width: 46px;
    height: auto;
  }
  &-campany {
    font-size: 24px;
    -webkit-text-stroke-width: 1px;
    margin-left: 6px;
  }
}

.header-body {
  ul {
    display: flex;
    li {
      font-size: 18px;
      margin-left: 16px;
      -webkit-text-stroke-width: 0.3px;
    }
  }
}

.header-foot {
  display: flex;
  align-items: center;
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8px;
    .item-img {
      width: 18px;
      height: 18px;
    }
    .item-text {
      font-size: 10px;
      margin-top: 4px;
      // display: none;
    }
  }
  &-searchForm {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid $grey_e;
    padding-left: 18px;
    margin-right: 16px;
    height: 38px;
    width: 265px;
    overflow: hidden;
    & input[type="text"] {
      border: none;
      color: $grey_b;
      font-family: "kyokasho";
      font-size: 14px;
      padding: 0;
      width: 200px;
      &:focus {
        outline: 0;
        color: $black;
      }
    }
    & input[type="submit"] {
      cursor: pointer;
      font-family: FontAwesome;
      font-size: 18px;
      outline: none;
      border: none;
      padding: 0;
      width: calc(265px - 200px);
      height: 38px;
      background: $white;
      color: $black;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.cart-count{
  position: absolute;
  top: 56px;
  right: 72px;
  width: 12px;
  height: 12px;
  font-size: 0.3rem;
  color: #ffffff;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;

}