header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  height: $header_height;
  border-bottom: solid 1px $grey_e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: $white;
  width: 100%;
  box-sizing: border-box;

  .separation {
    width: 3px;
    height: 50px;
    padding-top: 10px;
  }

  .header-head {
    display: flex;
    align-items: center;
    cursor: pointer;
    &-logo {
      width: 38px;
      height: auto;
    }
    &-campany {
      margin-left: 6px;
      height: 22px;
    }
    &-mark {
      display: block;
      position: absolute;
      margin-bottom: 56px;
      color: blueviolet;
      font-size: 14px;
    }
  }

  .header-body {
    margin-right: auto;
    padding-left: 12px;

    ul {
      display: flex;
      li {
        font-size: 16px;
        margin-left: 16px;
        font-weight: bold;
      }
    }
    @include md {
      display: none;
    }
  }

  .header-foot {
    display: flex;
    align-items: center;

    & a {
      transition: 0.2s;
      &:hover {
        transition: 0.2s;
      }
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 8px;
      .headerCart {
        position: relative;
        &-alert {
          position: absolute;
          top: 8px;
          right: 6px;
          width: 16px;
          height: 16px;
          font-size: 9px;
          color: #ffffff;
          background-color: #db3000;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          @include md {
            right: 26px;
            width: 14px;
            height: 14px;
          }
        }
        &-img {
          width: 56px;
          height: 56px;
          @include md {
            width: 50px;
            height: 50px;
            padding-right: 20px;
          }
        }
      }
    }
    &-searchForm {
      @include search_form();
      @include md {
        display: none;
      }
    }

    &-hamburgerMenu {
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      display: none;
      @include md {
        display: block;
      }
    }
  }
}
.smHeader {
  position: fixed;
  top: $header_height;
  left: 0;
  z-index: 3;
  background-color: white;
  width: 100%;
  height: 0;
  overflow: hidden;

  &-body {
    ul {
      padding: 20px 0;
      li {
        transition: 0.2s;
        background-color: $white;
        &:hover {
          transition: 0s;
          background-color: $grey_f;
        }
        a {
          display: inline-block;
          width: 100%;
          padding: 14px 6%;
          font-size: 16px;
        }
      }
    }
  }

  &-foot {
    padding: 0 6%;
    .header-foot-searchForm {
      @include search_form(100%);
    }
  }
}
