.myaccount-title {
    margin: auto;
    width: 780px;
    font-size: 1.6em;
    padding: 15px;
}
.myAccount {
    display: flex;
    margin: 0 160px;
}
.woocommerce-MyAccount-navigation {
    max-width: 1200px;
    // margin: auto;
}
.woocommerce-MyAccount-navigation-link {
    width: 197px;
    font-size: 1.3rem;
    border-bottom: 1px solid #C4C4C4;
    padding: 16px 0px;
}