.products, .prod-pickup {
  @include products();
}
.prod-cat-name {
  h4 {
    margin: 0;
    margin-left: 10px;
  }
}
.prodTitl {
  padding: 3px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4em;
}
.prodPrice {
  font-size: 15px;
  margin-bottom: 16px;
}
.cartBtn {
  width: 120px;
  text-align: center;
  background-color: royalblue;
  margin: auto;
  a {
    color: #ffffff;
  }
}

@media screen and (min-width: 600px) {
  .products, .prod-pickup {
    @include products(25%);
  }
}
