// /* はてブはアイコンフォントがないためテキストで代用 */
// .fa-hatena:before {
//     font-family: Verdana;
//     font-weight: bold;
//     content: 'B!';
//     }

//     /* 上下のマージン */
//     .share {
//     // margin-top: 40px;
//     // margin-bottom: 40px;
//     }

//     .share ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//     }

//     .share ul:after {
//     display: block;
//     clear: both;
//     content: '';
//     }

.share li {
  float: left;
  // width: 25%;/* ボタンの数に合わせて変更 */
  margin: 0;
  margin-top: 15px;
  padding: 7px;
}

.share li a {
  // font-size: 14px;/* フォントサイズ */
  display: block;
  // padding: 10px;
  text-align: center;
  text-decoration: none;
  // color: #fff;
}

//     /* マウスオーバー時の透明度 */
//     .share li a:hover {
//     opacity: .8;
//     }

//     .share li a:visited {
//     color: #fff;
//     }

//     /* ボタンの各ブランドカラー設定 */
//     .tweet a {
//     background-color: #55acee;
//     }

//     .facebook a {
//     background-color: #315096;
//     }

//     .hatena a {
//     background-color: #008fde;
//     }

//     .line a {
//     background-color: #00c030;
//     }

//     /* スマホでの表示 */
//     @media(max-width: 599px) {

//     .share li {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//     padding: 3px;
//     }

.share li i {
  font-size: 1.4em;
}
//     /* スマホ表示ではテキスト非表示 */
//     .share li span {
//     display: none;
//     }
//     }
