.btn_stroke_beige {
  border: solid 1px $beige;
  padding: 12px 32px;
  color: $beige;
  -webkit-text-stroke-width: 0.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
