.customFormWrapper {
  padding: 20px 10%;
  padding-bottom: 0;
  @include ms {
    // margin-top: 200px;
    padding: 0;
  }
  &-title {
    padding: 40px 0;
    margin-top: 54px;
    margin-bottom: 20px;
    font-size: 24px;
    @include ms {
      padding: 0;
      padding-top: 20px;
      font-size: 22px;
    }
  }
  abbr.required,
  #billing_country_field,
  #shipping_country_field {
    display: none;
  }
}

.customForm {
  display: flex;
  padding-bottom: 25px;
  margin-bottom: 25px;
  @include type_of_text_input();
  @include custom_type_of_select_input();
  @include ms {
    flex-direction: column;
    margin-bottom: 0;
  }
  &:nth-last-child(2),
  &:nth-last-child(1) {
    border-bottom: none;
    padding-bottom: 0;
  }
  &-head {
    width: 230px;
    font-size: 20px;
    padding-top: 36px;
    position: relative;
    @include absolute_label();
    @include ms {
      margin-bottom: 20px;
      display: flex;
    }
  }
  &-body {
    width: calc(100%);
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    p:first-of-type {
      margin-right: 10px;
    }
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    p:first-of-type {
      margin-bottom: 10px;
    }
  }
}

.address .customForm-body > div {
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.address .customForm-body > p {
  margin-bottom: 20px;
}

#billing_kana_first_name_field {
  margin-bottom: 0;
}
