.checkout {
  &:not(form.checkout) {
    margin-top: $header_height;
    background-color: $grey-f;
    width: 100%;
    padding: 64px 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include md {
      padding: 64px 0;
    }
  }
  .purchaseWrapper,
  .woocommerce {
    width: 890px;
    @include md {
      width: 100%;
    }
  }
  .purchaseWrapper {
    display: flex;
    @include md {
      width: 80%;
    }
  }

  &-title {
    // font-size: 32px;
    // margin-bottom: 32px;
    // margin-right: auto;
    @include pageTitle();
    margin-left: 35px;
  }
  &-foot {
    font-size: 16px;
    padding-top: 12px;
    color: $grey-7;
    @include ms {
      display: none;
    }
    a {
      color: $grey-7;
    }
    .right_arrow {
      padding: 0 6px;
      font-size: 12px;
    }
  }

  .col-1,
  .col-2 {
    width: 100%;
  }
  form.checkout {
    background-color: white;
    box-sizing: border-box;
  }
}
