.thankyou {
  background-color: $white;
  width: 890px;
  padding: 30px 10%;
  padding-top: 0;
  box-sizing: border-box;
  @include sm {
    width: 100%;
    padding: 20px 4%;
  }
  &-head,
  h2 {
    padding: 40px 0;
    padding-top: 0;
    font-size: 18px;
    font-weight: normal;
  }
  &-body {
    li {
      margin-bottom: 20px;
      display: flex;
    }
    &-title {
      width: 140px;
      &::before {
        content: "・";
      }
    }
  }
  .account_info {
    display: flex;
    flex-direction: column;
    strong {
      margin-bottom: 20px;
    }
  }
}
