.lgForm {
  display: block;
  @include md {
    display: none;
  }
}
.smForm {
  display: none;
  @include md {
    display: block;
  }
}

.cart {
  margin-top: $header_height;
  background-color: $light_beige;
  font-family: $font_document;
  &-head {
    padding: 46px 8%;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    &-title {
      font-size: 32px;
      margin-right: auto;
    }
    &-link {
      font-size: 12px;
      color: $grey-7;
      a {
        color: $grey-7;
      }
    }
  }
  .woocommerce {
    padding: 46px 8%;
    padding-top: 0;
    @include ms {
      padding: 46px 3%;
      padding-top: 0;
    }
  }

  table.woocommerce-cart-form__contents {
    width: 100%;
    margin-top: 52px;
    tr th {
      text-align: start;
      font-size: 18px;
      border-bottom: solid 1px $grey-b;
      padding-bottom: 12px;
    }
    tr th.product-name {
    }

    tr td {
      vertical-align: middle;
      border-bottom: solid 1px $grey-b;
      padding: 16px 0;
    }
    @include md {
      tr:nth-child(odd) td {
        border-bottom: solid 1px $grey-e;
      }
    }
    tr {
      td.product-remove {
        @include ms {
          width: 30px;
          text-align: right;
        }
      }
      td.product-thumbnail {
        width: 170px;
        @include ms {
          width: 100px;
        }
      }
      td.product-name {
        font-size: 18px;
        -webkit-text-stroke-width: 0.2px;
        .product-desc {
          max-width: 240px;
          max-height: 64px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 13px;
          color: $grey-7;
          padding-top: 12px;
          line-height: 22px;
          position: relative;
          padding-right: 10px;
          &::after {
            content: "...";
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
      }
      td.product-price,
      td.product-subtotal {
        @include ms {
          text-align: right;
          white-space: nowrap;
          font-size: 16px !important;
        }
      }
      td.product-price {
        font-size: 18px;
        -webkit-text-stroke-width: 0.2px;
        &::before {
          content: "1匹";
          padding-right: 8px;
        }
        &::after {
          content: "(税込)";
          display: block;

          padding-top: 8px;
        }
      }
      td.product-quantity {
        @include md {
          display: flex;
          align-items: center;
          .product-quantity-label {
            margin-right: 4px;
          }
        }
        @include type_of_number_input($light_beige);
      }
      td.product-subtotal {
        font-size: 18px;
        -webkit-text-stroke-width: 0.2px;
        width: 140px;
        color: $red;
        @include ms {
          width: 100px;
        }
      }
      td.actions {
        padding-bottom: 0;
        button {
          margin-left: auto;
          margin-right: auto;
          @include black-stroke-btn(160px, 42px, 14px);
          .reloadImg {
            width: 12px;
            height: 12px;
            margin-left: 6px;
          }
          &[aria-disabled="true"] {
            color: $grey-b;
            border: solid 1px $grey-b;
            cursor: default;
            .reloadImg {
              opacity: 0.2;
            }
          }
        }
      }
    }

    img {
      width: 140px;
      height: 140px;
      @include ms {
        width: 80px;
        height: 80px;
      }
    }
    tbody tr:last-of-type {
      display: none;
    }
  }

  .cart_totals {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    h2 {
      font-size: 20px;
      margin-top: 32px;
      margin-bottom: 0px;
    }
    .wc-proceed-to-checkout {
      width: 400px;
      margin-top: 42px;
      padding-bottom: 100px;
      @include ms {
        width: 100%;
      }
      a {
        @include red-fill-btn(100%, 42px);
      }
    }
    table {
      width: 400px;
      th {
        display: none;
      }

      td,
      th {
        padding-top: 16px;
      }
      .woocommerce-Price-amount {
        color: $red;
      }
      .cart-subtotal {
        font-size: 16px;
        display: none;
      }
      .order-total {
        font-size: 20px;
      }
      td {
        font-size: 24px;
        text-align: end;
      }
    }
  }
  .woocommerce-message {
    padding: 20px;
    background: #fff;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
  }
  .restore-item {
    color: $red;
    text-decoration: underline;
  }
}
