.purchase {
  margin-top: $header_height;
  background-color: $grey-f;
  width: 100%;
  padding: 64px 10%;
  box-sizing: border-box;

  .purchaseWrapper {
    display: flex;
  }
  &-head {
    font-size: 32px;
    margin-bottom: 32px;
    margin-right: auto;
  }
  &-foot {
    font-size: 16px;
    padding-top: 12px;
    color: $grey-7;
    a {
      color: $grey-7;
    }
    .right_arrow {
      padding: 0 6px;
      font-size: 12px;
    }
  }

  .col-1 {
    width: 100%;
  }
  form.checkout {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
  }
}

.customFormWrapper {
  padding: 40px 10%;
  &-title {
    padding: 40px 0;
    padding-top: 20px;
    font-size: 24px;
  }
  abbr.required {
    display: none;
  }
  #billing_country_field {
    display: none;
  }
}

.customForm {
  display: flex;
  padding-bottom: 25px;
  margin-bottom: 25px;
  // border-bottom: dotted 1px $grey-7;
  &:nth-last-child(2),
  &:nth-last-child(1) {
    border-bottom: none;
  }
  &:nth-last-child(2) {
    padding-bottom: 0px;
  }

  &-head {
    width: 30%;
    max-width: 300px;
    font-size: 20px;
    padding-top: 36px;
    position: relative;
    &::after {
      content: "必須";
      position: absolute;
      top: 26px;
      right: 12px;
      font-size: 16px;
      padding: 10px 10px;
      color: $white;
      background-color: $light_red;
    }
  }
  &-body {
    width: calc(100%);
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    p:first-of-type {
      margin-right: 10px;
    }
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    p:first-of-type {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  label {
    margin-bottom: 6px;
  }
  input {
    padding: 14px 20px;
    border: solid 1px $grey-e;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    letter-spacing: 0.5px;
  }
}
#billing_kana_first_name_field {
  margin-bottom: 0;
}
.address .customForm-body > div {
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.address .customForm-body > p {
  margin-bottom: 20px;
}

.select2-container .select2-selection--single {
  height: 48px !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 48px !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 48px !important;
  width: 48px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 22px !important;
}
.select2-container--default .select2-selection--single {
  border: 1px solid $grey-e !important;
  border-radius: 0 !important;
}
