.guide {
  margin-top: $header_height;
  background-color: $light_beige;
  padding: 36px 8%;
  @include sm {
    padding: 36px 0;
  }

  &-wrapper {
    background-color: white;
    border-top: solid 6px $dark_beige;
    padding: 64px 8%;
  }
  &-head {
    font-size: 32px;
    margin-bottom: 64px;
    -webkit-text-stroke-width: 0.5px;
  }
  &-subHead {
    font-size: 24px;
    margin-bottom: 44px;
  }
  &-list {
    display: flex;
    line-height: 26px;
    margin-bottom: 50px;
    position: relative;
    @include sm {
      flex-direction: column;
    }
    &-head {
      white-space: nowrap;
      width: 300px;
      font-size: 18px;
      @include sm {
        margin-bottom: 8px;
      }
    }
    &-body {
      width: 100%;
      line-height: 26px;
      font-size: 16px;
    }
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $grey-e;
      position: absolute;
      bottom: -25px;
      left: 0;
    }
    &:last-of-type::before {
      display: none;
    }
  }
}
