.privacy, .terms, .tokushoho, .guide {
    @include basic();
    h2 {
        font-size: 20px;
        margin-top: 34px;
        margin-bottom: 5px;
        @include ms {
        font-size: 15px;
        margin-top: 20px;
        }
    }
    p {
        margin-left: 8px;
    }
    ol, ul {
        margin-left: 28px;
        @include ms {
        margin-left: 24px;
        } 
    }
    ol li {
        list-style: decimal;
    } 
    ul li {
        list-style: disc;
    } 
    li ol > li {
        list-style-type: lower-latin;
    }   
}

.tokushoho {
    tr {
        height: 60px;
        text-align: left;
        border-bottom: solid 1px;
        @include sm {
            height: initial;
            display: block;
        }
        th, td {
            vertical-align: middle;
            @include sm {
                display: block;
            }
        }
        th {
            width: 210px;
        }
        td {
            padding-left: 20px;
            @include sm {
                padding-left: 0;
            }
        }
    }
    .wp-block-table.is-style-stripes {
        border-collapse: collapse;

        tbody tr:nth-child(odd) {
            background-color: initial;
        }
    }
}

.guide {
    .wp-block-table table {
      width: 46%;
      margin-left: 30px;
      @include ms {
        width: 60%;
      }
      tr {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px;
      }
    }
    a {
        color: #337ab7;
        text-decoration: underline;
    }
  }
