.products {
  display: flex;
  margin-top: $header_height;
  background-color: $light_beige;
  position: relative;
  #breadcrumbs {
    margin-bottom: 20px;
  }
  .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(#000000, 0.4);
  }
  &-title {
    @include pageTitle();
  }
  &-wrapper {
    padding: 20px 50px;
    padding-top: 20px;
    background-color: $light_beige;
    width: 100%;
    @include lg {
      padding: 20px 40px;
    }
    @include md {
      padding: 20px 20px;
      padding-top: 60px;
    }
    @include ms {
      padding: 20px 5px;
    }
  }
  &-contents {
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      li {
        box-sizing: border-box;
        padding: 0 12px;
        padding-bottom: 30px;
        width: 25%;

        @include md {
          width: 33.333333333%;
        }
        @include ms {
          width: 50%;
          padding: 0 5px;
          padding-bottom: 20px;
        }
      }
    }
    li.prod-item {
      .regular-tag {
        display: none;
      }
      .sale-tag {
        display: block;
      }
      .prod-item-thumb {
        position: relative;
        .prod-item-thumb__image {
          img {
            width: 100%;
            border-radius: 5px;
            opacity: 0.9;
          }
        }
        .prod-item-thumb__tag {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 2;
        }
      }
      .prod-item-name {
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        padding: 5px;
        margin: 5px 0;
        @include md {
          opacity: 0.8;
        }
        @include ms {
          font-size: 14px;
        }
      }
      .prod-item-desc {
        font-size: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2; // 省略行
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 5px;
        margin-bottom: 10px;
        color: #707070;
        @include ms {
          margin-bottom: 5px;
        }
      }
      .prod-item-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        white-space: nowrap;
        font-weight: bold;
        padding: 5px;
        padding-right: 20px;
        @include md {
          display: block;
          opacity: 0.8;
        }
        .prod-item-price__before {
          font-size: 14px;
          @include ms {
            font-size: 12px;
          }
        }
        .prod-item-price__arrow {
          font-size: 12px;
          @include md {
            display: none;
          }
        }
        .regular-price {
          color: #393c41;
          font-size: 15px;
          @include ms {
            font-size: 14px;
          }
        }
        .sale-price {
          color: #d34a4a;
          font-weight: bold;
          font-size: 16px;
          @include ms {
            font-size: 14px;
          }
        }
        .prod-item-price__tax {
          font-size: 10px;
        }
      }
    }
  }

  &-search {
    display: none;
    position: absolute;
    right: 20px;
    top: 50px;
    padding: 10px;
    background-color: $light_beige;
    border: solid 1px $grey-b;
    color: $black;
    width: 200px;
    cursor: pointer;
    @include md {
      display: flex;
      width: 150px;
      height: 30px;
      font-size: 12px;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
    }
  }
}

.pagination {
  margin-top: 40px;
  margin-left: 10px;
}
.nav-links {
  display: flex;
}
.pagination .page-numbers {
  display: inline-block;
  margin-right: 6px;
  padding: 10px 12px;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 0.5px 2px #999;
  background: #fff;
}
.pagination .current {
  padding: 10px 12px;
  background: #393c41;
  color: #fff;
}
.pagination .prev,
.pagination .next {
  background: transparent;
  box-shadow: none;
  color: black;
  padding: 7px;
}
.pagination .dots {
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
