.products {
  display: flex;
  margin-top: $header_height;
  background-color: $light_beige;
  position: relative;
  #breadcrumbs {
    margin-bottom: 20px;
  }
  .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(#000000, 0.4);
  }
  &-title {
    @include pageTitle();
  }
  &-wrapper {
    padding: 20px 70px;
    padding-top: 20px;
    background-color: $light_beige;
    width: 100%;
    @include lg {
      padding: 20px 40px;
    }
    @include md {
      padding: 20px 20px;
      padding-top: 60px;
    }
    @include ms {
      padding: 20px 10px;
      // padding-top: 60px;
    }
  }
  &-contents {
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      li {
        box-sizing: border-box;
        // padding-right: 5px;
        // padding-left: 5px;
        padding: 0 15px;
        padding-bottom: 45px;
        width: 25%;

        @include md {
          width: 33.333333333%;
        }
        @include ms {
          width: 50%;
        }
      }
    }
    li.prod-item {
      .prod-item-img {
        width: 100%;
        // padding-top: 71.59%;
        padding-top: 67%;
        display: flex;
        align-items: flex-end;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 5px;
        position: relative;
        opacity: 0.9;
  
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          content: "";
          width: 100%;
          height: 50%;
          background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 1%,
            rgba(0, 0, 0, 0.7) 97%
          );
        }
      }
      // .prod-item-category {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   background-color: rgba(255, 255, 255, 0.5);
      //   border-radius: 0 100px 100px 0;
      //   font-weight: bold;
      //   font-size: 12px;
      //   padding: 10px 20px;
      //   white-space: nowrap;
      //   @include ms {
      //     font-size: 10px;
      //     padding: 7px 12px;
      //   }
      // }
      // .prod-item-wrapper {
      //   width: 100%;
      //   height: 50px;
      //   margin-top: auto;
      //   color: $white;
      //   z-index: 2;
      //   padding: 14px 24px;
      //   @include ms {
      //     padding: 5px 5px;
      //   }
      // }
      .prod-item-name {
        font-size: 16px;
        text-align: left;
        padding: 5px;
        margin-top: 10px;
        @include md {
          opacity: 0.8;
        }   
        @include ms {
          font-size: 12px;
        }
      }
      .prod-item-price {
        text-align: left;
        white-space: nowrap;
        font-size: 14px;
        padding: 5px;
        @include md {
          opacity: 0.8;
        }
      }
    }
  }

  &-search {
    display: none;
    position: absolute;
    right: 20px;
    top: 50px;
    padding: 10px;
    background-color: $light-beige;
    border: solid 1px $grey-b;
    color: $black;
    width: 200px;
    cursor: pointer;
    @include md {
      display: flex;
      width: 150px;
      height: 30px;
      font-size: 12px;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
    }
  }
}

.pagination{
  margin-top: 40px;
  margin-left: 10px;
}
.nav-links{
  display:flex;
}
.pagination .page-numbers{
  display:inline-block;
  margin-right: 6px;
  padding: 10px 12px;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 0.5px 2px #999;
  background: #fff;
}
.pagination .current{
  padding: 10px 12px;
  background: #393C41;
  color: #fff;
}
.pagination .prev,
.pagination .next{
  background: transparent;
  box-shadow: none;
  color: black;
  padding: 7px;
}
.pagination .dots{
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
}