.singleProduct {
  @include outside(false);
  display: flex;
  &-wrapper {
    width: 100%;
    justify-content: start;
    padding-bottom: 64px;
  }
  #breadcrumbs {
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 15px;
    ul {
      justify-content: start;
    }
    @include md {
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }
  &-contents {
    font-family: $font_document;
    display: flex;
    padding-top: 30px;
    padding-bottom: 80px;
    @include sm {
      flex-direction: column;
      padding: 0;
    }
  }
  &-left {
    padding: 0;
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 600px;
    box-sizing: border-box;
    @include sm {
      width: 100%;
      padding: 0;
      padding-bottom: 20px;
      margin: 0;
    }
  }
  &-right {
    padding: 0px 50px;
    padding-left: 10px;
    width: 60%;
    max-width: 550px;
    box-sizing: border-box;
    @include sm {
      width: 100%;
      padding: 10px 8%;
      display: flex;
      // flex-direction: column-reverse;
      flex-direction: column;
    }
    .product-title {
      font-size: 32px;
      margin-bottom: 35px;
      @include ms {
        font-size: 26px;
      }
    }
    .sale-tag {
      display: inline-block;
    }
    .regular-tag {
      display: none;
    }
    .prod-price {
      display: flex;
      align-items: baseline;
      margin-bottom: 20px;
      line-height: 100%;
      .prod-price__before {
        padding: 5px;
        text-decoration: line-through;
      }
      .prod-price__after {
        padding: 5px;
      }
    }
    .price-arrow {
      font-size: 16px;
    }
    .price-sale {
      color: #d34a4a;
      font-weight: bold;
    }
    .price-regular {
      color: #393c41;
      font-size: 15px;
    }
    .price-after {
      font-size: 30px;
      @include ms {
        font-size: 24px;
      }
    }
    .price-before {
      font-size: 18px;
      @include ms {
        font-size: 16px;
      }
    }

    .product-desc {
      font-size: 16px;
      line-height: 28px;
      letter-spacing: auto;
      margin-bottom: 30px;
      @include sm {
        // padding-bottom: 100px;
        font-size: 14px;
      }
    }
    .singleProductForm {
      margin-top: 36px;
      display: flex;
      align-items: center;
      @include ms {
        display: block;
      }
      @include sm {
        margin-top: 0;
        margin-bottom: 20px;
      }
      &-submitBtn {
        max-width: 286px;
        border-radius: 3px;
        @include red-fill-btn();
        span {
          background-position: left center;
          background-size: contain;
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}

.numberInput {
  display: flex;
  align-items: center;
  @include type_of_number_input($white);
  // margin-left: 10px;
  margin-right: 25px;
  @include ms {
    margin-bottom: 20px;
  }
}

ul.slick-slider {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  li {
    width: 20%;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      opacity: 0.8;
      transition: 0.2s;
    }
    div {
      @include background_img(70%);
    }
  }
}
ul.thumb li {
  margin-top: 12px;
}
li.slick-slide {
  &:last-of-type {
    margin-right: 0;
  }
  height: inherit;
}
div.slick-track {
  display: flex;
  justify-content: center;
}
