.singleNews {
  margin-top: $header_height;
  background-color: $light_beige;
  padding: 36px 8%;
  &-wrapper {
    background-color: white;
    border-top: solid 6px $dark_beige;
    padding: 64px 8%;
  }
  &-title {
    font-size: 32px;
    margin-bottom: 64px;
  }
  &-contents {
    min-height: 100vh;
    font-size: 17px;
    word-break: break-all;
    line-height: 200%;
  }
}

.slider,
.thumb {
  display: none;
}
.slider.slick-initialized,
.thumb.slick-initialized {
  display: block; /*slick-initializedが付与されたら表示*/
}
.slick-prev:before,
.slick-next:before {
  color: #000;
}
