.singleNews {
  @include basic();
}

.slider,
.thumb {
  display: none;
}
.slider.slick-initialized,
.thumb.slick-initialized {
  display: block; /*slick-initializedが付与されたら表示*/
}
.slick-prev:before,
.slick-next:before {
  color: #000;
}
