.tokushoho {
    @include documents;
    tr {
        height: 60px;
        text-align: left;
        border-bottom: solid 1px;
        @include sm {
            height: initial;
            display: block;
        }
        th, td {
            vertical-align: middle;
            @include sm {
                display: block;
            }
        }
        th {
            width: 210px;
        }
        td {
            padding-left: 20px;
            @include sm {
                padding-left: 0;
            }
        }
    }
    .wp-block-table.is-style-stripes {
        border-collapse: collapse;

        tbody tr:nth-child(odd) {
            background-color: initial;
        }
    }
}